
.important-box{
    border: 2px solid #cb0000;
}

.checked-box{
    border: 2px solid #00998c;
}

.MuiGridListTileBar-root{
    background:rgba(255,255,255,0.8)!important;
}

.task-sign{
    background: #e7bb3e!important;
    border-right: 2px solid #666!important;
    border-bottom: 2px solid #666!important;
    
    margin-bottom: 10px!important;
    padding: 10px!important;
}

.task-sign-id{
    display:block;
    border: 2px solid #000!important;
    border-radius: 10px;
    padding:2px;
    text-align: center;
}